[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
python-slugify = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-markdown-deux = "*"
pypandoc = "*"
django-elasticsearch-dsl = "*"
urllib3 = "*"
chardet = "*"
django-select2 = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
