{% extends 'base.html' %}


{% block title %}{{ block.super }}{% endblock title %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        {% for file in object_list %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-end">
                        {{ file.name }}
                        <span class="badge text-wrap border border-warning ml-auto text-secondary h-100">
                            {{ file.get_ext }}
                        </span>
                    </div>
                    <div class="card-body">
                        {{ file.description|truncatewords:10 }}
                    </div>
                    <div class="card-footer">
                        {% if file.uploaded_by %}
                        <span class="badge text wrap">Uploaded by: {{ file.uploaded_by }}</span><hr/>
                        {% endif %}
                        <a href="{% url 'file_download' file.slug %}" class="btn btn-primary">Download</a>
                        <a href="{% url 'file_detail' file.slug %}" class="btn btn-info">Details</a>
                    </div>
                </div>
                <br/>

            </div>

            {% cycle "" "<div class='row'></div>" %}
        {% endfor %}
    </div>


    {% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="/?page={{ page_obj.previous_page_number }}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="/?page={{ page_obj.previous_page_number }}#">
                            {{ page_obj.previous_page_number }}
                        </a>
                    </li>
                {% endif %}
                    <li class="page-item active">
                        <a class="page-link"
                           href="#">
                            {{ page_obj.number }}
                        </a>
                    </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                        href="/?page={{ page_obj.next_page_number }}">
                            {{ page_obj.next_page_number }}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="/?page={{ page_obj.next_page_number }}">
                            Next
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock content %}
