{% extends 'base.djhtml' %}

{% block title %}Enter new password{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Set a new password!</h1>
            <hr/>
            <form method="POST">{% csrf_token %}
                {{ form|crispy }}
                <hr/>
                <input class="btn btn-success" type="submit" value="Change my password">
            </form>
        </div>
    </div>
{% endblock content %}
